@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColor: #edededfc;
  --secondaryColor: #303030c7;
}
html {
  overflow: hidden;
  background-color: var(--primaryColor);
  font-family: "Montserrat", sans-serif;
  padding: 0rem;
  margin: 0rem;
}
body{
  margin: 0rem;
  padding: 0rem;
}
h1,
p,
a,
span,
h2,
h3,
button,
input {
  margin: 0rem;
  padding: 0rem;
  text-decoration: unset;
  font-family: "Montserrat", sans-serif;
}
a,
a:visited,
a:active {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilo para las tablas LEAGUES */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
}

select {
  text-overflow: "";
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: "Interstate", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  padding: 2px 5px 4px;
  vertical-align: baseline;
  width: max-content;
  box-sizing: border-box;
  margin-top: 0.5rem;
  cursor: pointer;
}



/* LOADER CSS */
.lds-ring {
  display: inline-block;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--secondaryColor);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--secondaryColor) transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}