#home{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../assets//images/fondo1.jpg');
  background-size: cover;
}
#selectTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.selectTeam__container {
  background: #ffffff61;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(255 255 255 / 24%) 0px 3px 8px;
  height:70%;
  position: relative;
}
.selectTeam__container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
form.selectTeam__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 40%;
  position: absolute;
    top: 10%;
}

form.selectTeam__form > div {
  display: flex;
}
form.selectTeam__form h1 {
  font-size: 15px;
  color: var(--secondaryColor);
  text-transform: uppercase;
}
.selectTeam__container-search-input {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}
.selectTeam__container-search-input input {
  width: 100%;
  border: unset;
  border-bottom: 1px solid var(--secondaryColor);
  background-color: transparent;
  color: var(--secondaryColor);
  padding-bottom: 0.4rem;
}
.selectTeam__container-search-input button {
  background: transparent;
  border: unset;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 2px;
  cursor: pointer;
  color: var(--secondaryColor);
  transition: 0.5s ease;
  font-weight: 600;
}

.selectTeam__container-search-input button:hover {
  color: black;
  transition: 0.5s ease;
}
.selectTeam__container-search-input input:focus {
  outline: none;
}

/* ---------------------------- SEARCH RESULT ----------------------------*/
.search__results {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  overflow: auto;
  width: 100%;
}
.selectTeam__result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 1rem;
  transition: 0.5s ease;
  cursor: pointer;
  color: var(--secondaryColor);
  background: #ffffffc7;
}
.selectTeam__result-container img {
  width: 95px;
}
.selectTeam__result {
  cursor: pointer;
  transition: 0.5s ease;
}
.selectTeam__result-container-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.selectTeam__result-container{
  width: 140px;
  padding: 0.5rem;
}

/* NUEVA HOME */
div#recomendations {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin:1rem 0rem 0rem 1rem;
  gap: 1rem;
}
#recomendations .teams__recomendations-container{
  display: flex;
  gap: 1rem;
}
#recomendations .selectTeam__result-container{
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 0rem 0.5rem;
  align-items: center;
  justify-content: center;
  border: unset;
  background-color: #ffffff70;
  width: unset;
}
#recomendations .selectTeam__result-container img{
  width: 50px;
}
#recomendations .selectTeam__result-container .selectTeam__result-container-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  width: 115px;
}

/* CARROUSEL */

.teams__recomendations-container {
  width: inherit;
  height: inherit;
  position: relative;
  left: 0;
  top: 0;
  animation: 25s slide infinite linear;
  display: inline-block
}
#recomendations.selectTeam__result {
  animation: primary 3s linear infinite;
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}
.teams__recomendations:hover .teams__recomendations-container {
  animation-play-state: paused 
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}