#team {
  background: var(--primaryColor);
}
.team__header {
  background-color: red;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
  margin: 0rem 2rem;
  flex-direction: column;
}
.team__info-section {
  height: 200px;
  width: 200px;
}
.team__info-body {
  display: flex;
  gap: 4rem;
  width: 100%;
}
.team__info-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  gap: 5rem;
  width: 100%;
  justify-content: space-between;
  aspect-ratio: 16/2;
}

/* ---------------------------LEAGUE RANK---------------------------- */
#leagueRank {
  background: var(--primaryColor);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.leagueRank__Group {
  width: 49%;
}
span.leagueRank__group-title {
  text-transform: uppercase;
  color: #666;
  display: inline-block;
  font-weight: 800;
  font-size: 19px;
  width: 100%;
  text-align: center;
  background-color: #7a7a7a;
  color: white;
  padding: 0.3rem 0rem;
}
.leagueRank__container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.5s ease;
  color: white;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.leagueRank__League {
  width: 100%;
}
.leagueRank__table tbody tr{
  cursor: pointer;
}
/* -------------------------------------------------------- headerCompetitionInfo --------------------------------------------------------*/
.headerCompetitionInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  gap: 3rem;
  aspect-ratio: 646 / 128;
}

.headerCompetitionInfo span {
  color: var(--secondaryColor);
}

.headerCompetitionInfo div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem 1rem;
  height: 100%;
}

.headerCompetitionInfo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.headerCompetitionInfo > span {
  padding-top: 1rem;
}
.headerCompetitionInfo__text-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.headerCompetitionInfo__select-competition {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerCompetitionInfo > a button {
  padding: 0.5rem 1rem;
  background: unset;
  border: 1px solid black;
  cursor: pointer;
}
a.button-select-team {
  position: absolute;
  top: -55px;
  background: white;
  transition: all 0.5s ease;
}
a.button-select-team:hover ,a.button-select-team:hover button{
  background: var(--secondaryColor);
  color: white;
  transition: all 0.5s ease;

}

/* ---------------------------LEAGUE TEAM---------------------------- */
.leagueTeam__container span {
  color: var(--secondaryColor);
}
.leagueTeam__information {
  display: flex;
  justify-content: center;
  padding: 0.8rem 1rem;
}
.leagueTeam__information div {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.leagueTeam__information > p:first-child {
  width: 30px;
}
.leagueTeam__information img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.leagueRank__table {
  max-height: calc(90vh - 225px); 
  overflow: auto;
  display: -webkit-box;
  gap: 1.5rem;
  flex-wrap: wrap;
}
th {
  text-align: center;
  color: var(--secondaryColor);
  font-weight: 900;
  text-transform: uppercase;
}
td {
  text-align: center;
  width:-webkit-fill-available;
  color: var(--secondaryColor);
}
tr:nth-child(even) {
  background: #e9e8e8;
}
td.leagueTeam__information > div > span:first-child {
  width: 25px;
}

/* --------------------------INFO TEAM --------------------------*/
.team__info h1,
.team__info h2.team__info span,
.team__info p {
  color: var(--secondaryColor);
  width:-webkit-fill-available;
}

.team__info h1{
  font-size: 20px;
  text-wrap: pretty;
    width: 200px;
    text-align: center;
}
.infoTeam__container-team-text > p {
  margin-top: 0.4rem;
  font-weight: 700;
}
.infoTeam__container {
  display: flex;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  transition: 0.5s ease;
  justify-content: center;
  height: 200px;
}
.infoTeam__container-team-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.infoTeam__container-stadium-text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 340px;
}
.infoTeam__container-stadium-text > div > img {
  width: 80px;
}
.infoTeam__container-stadium-text > img {
  width: 225px;
}
.infoTeam__container-text {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoTeam__container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoTeam__container-text span:first-child {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  color: var(--secondaryColor);
}
.infoTeam__container-title > img {
  width: 85px;
  position: absolute;
  left: -59px;
  top: -30px;
  transition: 0.5s ease;
}
.infoTeam__container-title > img:hover {
  transform: scale(1.1);
}
.infoTeam__container-text span {
  text-align: center;
}
.infoTeam__container-text h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}
.infoTeam__container-stadium-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}
.infoTeam__container > a {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ERROR COMPONENT */

.error__component{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.error__component h1{
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.error__component a{
  border: 1px solid black;
  padding: 0.5rem 2rem;
  transition: all 0.5s ease;
}
.error__component a:hover{
  color: var(--secondaryColor);
  transition: all 0.5s ease;
}


@media (max-width:940px){
  .infoTeam__container{
    padding: unset;
    height: unset;
  }
  .team__info{
    margin: 0 1rem;
    padding: unset;
  }
  .team__info-header {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
  .infoTeam__container-stadium-text > img{
    height: 100%;
    width: 70%;
  }
  .team__info h1{
    font-size: 15px;
    width: unset;
  }
  .infoTeam__container-text span:first-child{
    font-size: 13px;
  }
  .infoTeam__container-text span{
    font-size: 12px;
  }
  .infoTeam__container-title > img{
    width: 60px;
    margin-bottom: 0.5rem;
    left: 0;
    top: 0;
  }
  .infoTeam__container-stadium-text{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem;
  }
  div#infoTeam {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .headerCompetitionInfo{
    gap: unset; 
    aspect-ratio: unset;
    flex-direction: column;
    padding: 0rem;
    width: 100%;
  }
  .headerCompetitionInfo__select-competition{
    padding: 0rem 1rem 1rem 1rem;
  }
  span.leagueRank__group-title{
    font-size: 10px;
  }
  .leagueRank__Group {
    width: 100%;
  }
  td{
    width: 240px;
  }
  a.button-select-team{
    left: 30%;
  }
}